/*=============== HEADER ===============*/
.header {
  z-index: var(--z-fixed);
  position: sticky;
}
.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  height: var(--header-height);
  margin-bottom: var(--mb-0-25);
}
.logo{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.header-menu {
  display: flex;
  align-items: center;

  .list-item {
    padding: 0 21px;
  }
  .link-item {
    padding: 21px 0px;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
  }
  .link-item:hover{
      color: var(--title-color-dark);
  }
}
