.home{
  width: 100vw;
  height: 100vh;
}
.home-content {
  gap: 60px;
}
.home-side-menu {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .list-item {
    padding: 21px 0px;
  }
  .link-item {
    color: var(--title-color);
  }
}
.intro-section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: var(--mb-0-25);
}
.intro-subtitle {
  width: 40%;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.hyphen {
  height: 1px;
  width: 40%;
  background-color: var(--text-color);
}
.profile-image-container {
  background: url("../../assets/profile-pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
  animation: pic-animate 8s ease-in-out infinite 1s;
  border: 2px solid var(--title-color-dark);
}

@keyframes pic-animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
